#highScoresList{
    list-style: none;
    margin-bottom: 4rem;
    padding-left: 0;
}
.high-score{
    color: white;
    font-size:2.5rem;
    margin-bottom: 0.5rem;
}
.high-score:hover{
    transform: scale(1.15);
}
